@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #FFF;
    color: #444;
    text-align: center;
    font-size: 1.25rem;
    padding-top: 5%;
    min-height: 100vh;
    word-wrap: break-word;
}

.logo {
    width: 250px;
    height: 250px;
    padding-bottom: 5%;
}

h1 {
    color: #B229E2;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.WalletInfo {
    width: 50vw;

}

.Block {
    border: 1px black solid;
    padding: 5%;
    margin: 2%;
}

.Transaction {
    padding: 5%;
}

.show-btn {
    font-family: 'Quicksand', sans-serif;
    width: 30%;
    height: 2rem;
    background-color: #6A5DFF;
    padding: .5rem;
    border-radius: 5px;
    color: white;
    box-shadow: 0px 10px 13px -7px #000000;
    border: none;
    transition: .25s;
}

.show-btn:hover {
    background-color: rgba(106, 93, 255, .8);
    box-shadow: 0px 7px 13px -8px #000000;
    cursor: pointer;
}

a {
    color: #30E26C;
    text-decoration: underline;
}

.title {
    margin-top: 2rem;
}

.first {
    margin-top: 3rem;
}

.formGroup input {
    width: 25%;
    height: 2rem;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #6A5DFF;
    margin-bottom: 10px;
}

.submit-btn {
    width: 15%;
    height: 2rem;
    background-color: #6A5DFF;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    border: none;
}